/* Google fonts */
@import url("https://fonts.googleapis.com/css?family=Chakra+Petch&display=swap");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");

/* Color Variables */
:root {
  --primary-color: #FFF700;
  --primary-color-dark: #E6DE00;
  --secondary-color: #00DBA0;
  --secondary-color-dark: #00C28E;
  --passive-color: #F2F2F2;
  --passive-color-dark: #D9D9D9;
  --max-z-index: 99999;
}

/* Typography */
.title {
  font-family: Chakra Petch;
  font-style: normal;
  font-weight: bold;
  font-size: 4em;
}

.lead {
  font-family: Chakra Petch;
  font-style: normal;
  font-weight: bold;
  font-size: 2.25em;
  line-height: 140%;
}

.paragraph,
.small,
.link,
.error {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  line-height: 150%;
}

.paragraph {
  font-size: 1.125em;
}

.small {
  font-size: 0.875em;
}

.link {
  font-size: 1.125em;
  color: #0000FF;
}

.error {
  font-style: italic;
  font-size: 1.125em;
  color: #DF0000;
}

/* Buttons */
.primary-button,
.secondary-button,
.passive-button {
  display: inline-block;
  font-family: Chakra Petch;
  font-style: normal;
  font-weight: 600;
  font-size: 1.25em;
  line-height: 1.5em;
  height: 3.5em;
  border: none;
  border: 1.5px solid black;
  box-sizing: border-box;
  box-shadow: 10px 10px 0px black;
  border-radius: 10px;
  padding: 1em 1.25em;
  margin: 1.875em 0;
  text-decoration: none;
  color: black;
}

.primary-button:active,
.secondary-button:active,
.passive-button:active {
  box-shadow: 5px 5px 0px #000000;
  transform: translateY(4px);
}

.primary-button {
  background: var(--primary-color);
}

.primary-button:hover {
  background: var(--primary-color-dark);
}

.secondary-button {
  background: var(--secondary-color);
}

.secondary-button:hover {
  background: var(--secondary-color-dark);
}

.passive-button {
  background: var(--passive-color);
}

.passive-button:hover {
  background: var(--passive-color-dark);
}

/* body */
body {
  margin: 0;
}

page-header {
  position: fixed;
  width: 100%;
  background: var(--passive-color);
  z-index: var(--max-z-index);
}

.content {
  position: relative;
}

.divider {
  margin: 2.25em 0.625em;
  border: 1px solid var(--passive-color);
}

.splashscreen {
  top: 20%;
  position: absolute;
  right: 0;
  margin-right: -17em;
  height: 75%;
}

.pages-content-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.pages-content-element {
  width: 50%;
}

.pages-content-element .lead {
  margin-top: 0;
}

.pages-content-container:first-of-type {
  margin-bottom: 2.25em;
}

.back-anchor {
    padding: 1em 0em;
}

.coordinates-input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 2.5rem;
}

.input-container label {
  font-family: Source Sans Pro;
  font-size: 0.875rem;
}

.text-input {
  border: 1px solid var(--passive-color-dark);
  box-sizing: border-box;
  border-radius: 5px;
  width: 15rem;
  height: 3.125rem;
  padding: 1rem 1.25rem;
  font-family: Source Sans Pro;
  font-size: 0.875rem;
  margin-top: 0.5rem;
}

input:focus {
  outline: none;
}

.back-anchor {
  padding: 1em;
  font-size: 1em;
}

/* Responsive */
@media screen and (max-width: 900px) {
  .pages-content-container {
    flex-direction: column;
  }
  .pages-content-element {
    width: 100%;
  }
}
