/* Google fonts */
@import url("https://fonts.googleapis.com/css?family=Chakra+Petch&display=swap");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");

/* HTML & body */
html, body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

body * {
  box-sizing: border-box;
}

/* Color Variables */
:root {
  --primary-color: #fff700;
  --primary-color-dark: #e6de00;
  --secondary-color: #00dba0;
  --secondary-color-dark: #00c28e;
  --passive-color: #f2f2f2;
  --passive-color-dark: #d9d9d9;
  --link-color: #0000ff;
  --max-z-index: 99999;
}

/* Typography */
.title {
  font-family: Chakra Petch;
  font-style: normal;
  font-weight: bold;
  font-size: 3em;
}

.lead {
  font-family: Chakra Petch;
  font-style: normal;
  font-weight: bold;
  font-size: 1.75em;
  line-height: 140%;
}

.paragraph,
.small,
.link,
.error {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  line-height: 140%;
}

.paragraph {
  font-size: 1em;
}

.small {
  font-size: 0.875em;
}

.link {
  color: var(--link-color);
  text-decoration: none;
  font-weight: bold;
}

.error {
  font-style: italic;
  font-size: 1em;
  color: #df0000;
}

/* Buttons */
.primary-button,
.secondary-button,
.passive-button {
  display: inline-block;
  font-family: Chakra Petch;
  font-style: normal;
  font-weight: 600;
  font-size: 1em;
  line-height: 1.25em;
  height: 3.5em;
  border: none;
  border: 1.5px solid black;
  box-sizing: border-box;
  box-shadow: 10px 10px 0px black;
  border-radius: 10px;
  padding: 1em 1.25em;
  margin: 1.875em 0;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.primary-button:active,
.secondary-button:active,
.passive-button:active {
  box-shadow: 5px 5px 0px #000000;
  transform: translateY(4px);
}

.primary-button {
  background: var(--primary-color);
}

.primary-button:hover {
  background: var(--primary-color-dark);
}

.secondary-button {
  background: var(--secondary-color);
}

.secondary-button:hover {
  background: var(--secondary-color-dark);
}

.passive-button {
  background: var(--passive-color);
}

.passive-button:hover {
  background: var(--passive-color-dark);
}

.cursor-pointer {
  cursor: pointer;
}

hr {
  margin: 2.25em 0.625em;
  border: 1px solid var(--passive-color);
}

page-header {
  display: flex;
  flex: none;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  background: var(--passive-color);
  z-index: var(--max-z-index);
}

page-footer {
  background: var(--secondary-color);
  width: 100%;
}

.pages-content {
  font-family: Source Sans Pro;
  padding: 1.875em;
}

.pages-content-container {
  display: flex;
  align-items: flex-start;
  width: 110ch;
  max-width: 100%;
}

.pages-content-container + .pages-content-container{
  margin-top: 2em;
}

.pages-content-element {
  flex: 1;
}

.pages-content-element + * {
  margin-left: 2em;
}

.pages-content-element .lead {
  margin-top: 0;
}

.pages-content-container:first-of-type {
  margin-bottom: 2.25em;
}

/* TODO: move this to the back-anchor component. */
.back-anchor {
  height: 3rem;
  padding: 1em;
  font-size: 1em;
}

.input-container label {
  font-family: Source Sans Pro;
  font-size: 0.875rem;
}

.map-buttons-container {
  display: flex;
  justify-content: space-between;
}

.text-input {
  border: 1px solid var(--passive-color-dark);
  box-sizing: border-box;
  border-radius: 5px;
  height: 3.125rem;
  padding: 1rem 1.25rem;
  font-family: Source Sans Pro;
  font-size: 0.875rem;
  margin-top: 0.5rem;
}

input:focus {
  outline: none;
}

#content-preview {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.download-default-marker {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 1;
}

.download-default-marker svg {
  display: block;
  margin-right: 0.5em;
}

.beta {
  font-family: Source Sans Pro;
  background-color: #fff700;
  padding: 1em 1.875em;
}

.repo-url {
  font-size: 1.25em;
}

@keyframes blink {
  50% {
    color: transparent;
  }
}
.loader__dot {
  animation: 1s blink infinite;
}
.loader__dot:nth-child(2) {
  animation-delay: 250ms;
}
.loader__dot:nth-child(3) {
  animation-delay: 500ms;
}

/* Responsive */
@media screen and (max-width: 900px) {
  /* Typography */
  .title {
    font-size: 2.5em;
  }

  .pages-content-container {
    flex-direction: column;
  }

  .pages-content-container > * {
    margin-left: 0;
  }

  .pages-content-element {
    width: 100%;
  }
}
