/* Main content */
.background {
  width: 70vw;
  height: 100%;
  background: var(--secondary-color);
}

.content {
  font-family: Source Sans Pro;
  padding: 6em;
  padding-right: 18em;
}

.pages-content {
  font-family: Source Sans Pro;
  padding: 4em 6em;
}

.content .radio-container {
  margin: 1.25em 0;
}

/* Custom radio buttons */
.radio-container {
  display: block;
  position: relative;
  padding-left: 3em;
  margin-bottom: 0.8em;
  cursor: pointer;
  font-size: 1.25em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.6em;
  width: 1.6em;
  background: #eee;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* On mouse-over, add a grey background color */
.radio-container:hover input ~ .checkmark {
  background: #ccc;
}

/* When the radio button is checked, add a black background */
.radio-container input:checked ~ .checkmark {
  background: black;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: relative;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio-container .checkmark:after {
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  background: white;
}

/* Responsive */
@media screen and (max-width: 900px) {
  .title {
    font-size: 2.5em;
  }

  .background {
    width: 100%;
  }
}
