@import url('https://cdn.staticaly.com/gh/jonasjohansson/template/master/reset.css');
@import url('https://fonts.googleapis.com/css?family=Chakra+Petch|IBM+Plex+Mono|IBM+Plex+Sans&display=swap');

:root {
  --base: 1.6rem;
  --font-size-small: 80%;
  --video-padding: 56.3%;
  --accent: 5, 5, 18;
  --white: #e1e1e1;
  --black: #272727;
  --gray: #777777;
  --dark: #0e0e0e;
  --border-radius: 10px;
  --col-location: #ff2a2a; /* #90ffff; /* cyan; */
  --col-picture: #46e44c; /* #ff33ff; /* magenta; */
  --col-marker: #0c9aff; /* #ffeb3b; /* orange; */
  --sans-serif: Chakra Petch, BlinkMacSystemFont, system-ui, -apple-system;
  --monospace: IBM Plex Mono, Consolas, Liberation Mono, Menlo, Courier, monospace;
}

html {
  font: 24px/1.3 var(--sans-serif);
}

body {
  padding-top: calc(var(--base) * 2);
  padding-bottom: calc(var(--base) * 2);
  max-width: 960px;
  padding-left: var(--base);
  padding-right: var(--base);
  box-sizing: border-box;
  margin: 0 auto;
}

/* HEADINGS */

h1,
h2 {
  font-weight: 500;
  text-align: center;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: var(--base);
}

.location h3 {
  color: var(--col-location);
}

.picture h3 {
  color: var(--col-picture);
}

.marker h3 {
  color: var(--col-marker);
}

/* PARAGRAPHS */

p {
  margin-left: auto;
  margin-right: auto;
}

p.preamble {
  max-width: 600px;
}

p.narrow {
  max-width: 480px;
}

p.wide {
  max-width: 680px;
}

/* LINKS */

p a {
  color: var(--col-location);
}

p a:hover {
  text-decoration: none;
  box-shadow: 0px 1px 1px var(--col-marker);
}

/* BUTTONS */

.btn {
  box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.3);
  border-radius: var(--border-radius);
  display: inline-block;
  font-style: normal;
  font-weight: 600;
  padding: 0.25rem 1rem;
  text-transform: capitalize;
  text-align: center;
  color: var(--black);
  cursor: pointer;
}

.btn:hover {
  text-decoration: none;
}

.btn-location {
  background: var(--col-location);
}

.btn-picture {
  background: var(--col-picture);
}

.btn-marker {
  background: var(--col-marker);
}
/* OTHER */

.center {
  margin-left: auto;
  margin-right: auto;
}

pre {
  font-family: var(--monospace);
  padding: 0;
  text-align: left;
  white-space: pre-wrap;
  background-color: #1e1e1e;
  color: var(--white);
  padding: var(--base);
}

pre:before {
  counter-reset: listing;
}

pre code {
  counter-increment: listing;
  float: left;
}

pre code::before {
  content: counter(listing, decimal-leading-zero) ' ';
  display: inline-block;
  color: var(--gray);
  text-align: right;
}
