/* Input */
#input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#input-container input {
  width: 100%;
}

#image-container img {
  position: relative;
  object-fit: contain;
  font-size: 1.25em;
  text-align: center;
  border: 1px solid black;
}

/* TODO: consider moving these functional attributes to style.css */
.margin-bottom-2rem {
  margin-bottom: 2rem;
}

.bold {
  font-weight: bold;
}

.disclaimer-color {
  color: #828282;
}
