.coordinates-input-container {
    display: flex;
    margin-bottom: 1em;
}

.coordinates-input-container > div {
    padding: 1rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    text-align: justify;
}

.coordinates-input-container .input-number-tags {
    padding-top: 2.5rem;
    padding-left: 0;
}

.coordinates-input-wrapper {
    margin-bottom: 1rem;
}

/* TODO: Remove duplicate */
.add-location-container {
    width: fit-content;
    cursor: pointer;
}

/* TODO: Remove duplicate */
.add-location-container {
    display: flex;
}

.delete-coordinates-container > svg {
margin-top: 2.5rem;
}

.remove-location-container {
    display: flex;
    cursor: pointer;
}

.add-location-icon {
    margin-right: 0.4rem;
}
  